*{
	margin: 0;
	padding: 0;
}
.wrapper{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.prount_wra{
	width: 100%;
	height: 100vh;
	position: relative;
}
.wrapper_left{
	width: 50%;
	height: 100vh;
	float: left;
	/*position: absolute;*/
	background: pink;
	z-index: 99;
}
.wrapper_left img{
	width: 100%;
	height: 100vh;
}
.wrapper_right img{
	width: 100%;
	height: 100vh;
}
.wrapper_right{
	width: 50%;
	height: 100vh;
	/*position: absolute;*/
	background: gray;
	float: right;
	z-index: 99;
}
.wrapper_text{
	width: 100%;
	height: 130px;
	line-height:130px;
	color: white;
	font-size: 38px;
	font-weight: bold;
	font-family: "blackadder itc";	
	text-align: center;
	float: left;
	position: absolute;
}
.wrapper_picture{
	width: 100%;
	height: 150px;
	float: left;
	position: absolute;	
	top: 130px;
}
.wrapper_pic_center{
	width: 150px;
	height: 150px;
	overflow: hidden;
	border-radius: 50%;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.wrapper_pic_center img{
	width: 100%;
	height: 100%;
}









